html {
  color: $black;
  font-weight: 300;
  background: $white;
}

a {
  text-decoration: none;
  color: $black;
}

body, button, input, optgroup, select, textarea {
  font-family: 'Noto Sans TC', serif;
}
