$white: #fffffe;
$black: #00000F;
$blue: #49b0d5;
$yellow: #8dee72;
$gray-d: #d8d8d8;
$gray-9: #979797;

@mixin medium-screen {
  @media screen and (min-width: 30em) and (max-width: 60em) {
    @content
  }
};

@mixin not-small-screen {
  @media screen and (min-width: 30em) {
    @content
  }
};

@mixin large-screen {
  @media screen and (min-width: 60em) {
    @content
  }
};
